# Default Android Studio .gitignore
.gradle
/local.properties
/.idea/workspace.xml
.DS_Store

# Android Studio .gitignore from
# http://stackoverflow.com/questions/16736856/what-should-be-in-my-gitignore-for-an-android-studio-project

# Android Studio
.idea
#.idea/workspace.xml - uncomment this and comment/delete .idea if it better suit your needs
.gradle
/*/local.properties
/*/out
/*/*/build
/*/*/production
*.iml
*.iws
*.ipr
*~
*.swp